appdirs==1.4.4
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1699370045702/work
astroid==2.12.13
autopep8==1.6.0
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1703154663129/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989934239/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1700303426725/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1696001737800/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1701731166956/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1702406360642/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
contourpy==1.3.0
cycler==0.12.1
dill==0.3.6
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
docstring-to-markdown==0.10
flake8==5.0.4
fonttools==4.53.1
greenlet==2.0.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
isort==5.10.1
jedi==0.18.2
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1695397382064/work
kiwisolver==1.4.7
lazy-object-proxy==1.8.0
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1703178878806/work/libmambapy
matplotlib==3.9.2
mccabe==0.7.0
menuinst @ file:///Users/runner/miniforge3/conda-bld/menuinst_1702317138933/work
msgpack==1.0.4
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1704280780572/work/dist/numpy-1.26.3-cp310-cp310-macosx_11_0_arm64.whl#sha256=f96d0b051b72345dbc317d793b2b34c7c4b7f41b0b791ffc93e820c45ba6a91c
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas==1.5.0
parso==0.8.3
pillow==10.4.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1701708255999/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1693086607691/work
pycodestyle==2.9.1
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1696355969704/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydocstyle==6.1.1
pyflakes==2.5.0
pylint==2.15.6
pynvim==0.4.3
pyparsing==3.0.9
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.6.0
pytoolconfig==1.2.2
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rope==1.5.1
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1699007390921/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1695996997220/work
seaborn==0.13.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
snowballstemmer==2.2.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1694154605758/work
ujson==5.5.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1699933488691/work
whatthepatch==1.0.3
wrapt==1.14.1
yapf==0.32.0
zstandard==0.22.0
